.terraform
.terraform*
terraform.tfstate*

.vscode

# backend.tf contains backend configuration (tf cloud org & workspace)
# so it should not be pushed to the repo
eng/tf/tf-backend.tf

*:Zone.Identifier